table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #ffffff;
    color: #ffffff;
    text-align: left;
}

table th {
	background-color: #313131;
    color: #ffffff;
}

table th,
table td {
    padding: 10px 10px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

 tr:nth-of-type(odd) {
    background-color: #c5c5c5;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #313131;
}